@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(12, 53, 61, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hero{
  background-image:
   linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(12, 53, 61, 1)),
   url("../public/backgrounds/hero-opt.jpg");
  
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width: 100%;
  height: 1377px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.hero:after {
  display: block;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/* background: rgba(127, 127, 127, 0.5); */
	background-image: radial-gradient(black 33%, transparent 33%);
	background-size: 3px 3px;
  height: 1377px;
}
.hero-container{
  width: 90vw;
}
.ml-5{
  margin-left: 10%;
}
.mt-10{
  margin-top: 5%;
}
.mt-add{
  margin-top: 35%;
  width: 80%;
}
.mt-add-people{
  margin-top: 10%;
}
.hero-people{
  opacity: 0.3;
  filter: sepia(80%) saturate(248%) brightness(130%);
}
.woman-margin{
  margin-left: -5%;
  /* margin-right: 15%; */
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}
.man-height{
  height: 19vw;
  margin-top: 9%;
}
.woman-height{
  height: 24vw;
}
.core{
  z-index: 2;
  position:relative;
  top: 100vh;
  background-image: linear-gradient(180deg, rgba(12, 53, 61, 0), rgba(12, 53, 61, 1) 45%);
  height: 100vh;
  display: flex;
  justify-content: center;
}
.core h1{
  color: white;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.core h2{
  color: white;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 4%;
}
.core p{
  margin-top: 2%;
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 40;
}
.core-logo{
  height: 7vw;
  margin-top: 20%;
}
.solution{
  background-color: rgba(12, 53, 61, 1);
  height: 100vh;
  top: 100vh;
  position: relative;
}
.solution-content
{
  background-image: linear-gradient(to bottom, rgba(12, 53, 61, 1), rgba(21, 68, 87, 1));
  height: 100vh;
  z-index: 3;
  position: relative;
  top: 60vh;
  display: flex;
  justify-content: center;
}
.solution-content h1{
  color: white;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.solution-content p{
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 40;

}
.solution-content h3{
  margin-top: 2%;
  color: white;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
}
.margin-center{
  width: 70%;
  /* height: 40vh; */
  height: auto;
}
.footer{
  background-image: linear-gradient(to bottom, rgba(12, 53, 61, 1), rgba(21, 68, 87, 1));
  height: 100vh;
  z-index: 3;
  position: relative;
  top: 60vh;
  
  display: flex;
  justify-content: center;
}
